{% load static %}
<link rel="stylesheet" href="{% static 'assets/CSS/footer_dashboard.css' %}">
<footer id="footer">
    <div class="footer">
        <div class="container">
            <div class="footer-text">
                <div class="email">
                    <a href="aefhp.pt" class="text">
                        <i class="fas fa-envelope"></i> geral@aefhp.pt
                    </a>
                </div>

                <a href="#" class="text">
                    <i class="fa-solid fa-users"></i> Perfis
                </a>

                <a href="#" class="text">
                    <i class="fa-solid fa-film"></i> Filmes
                </a>

                <span>2024© Todos os direitos reservados.</span>
            </div>
        </div>
    </div>
</footer>


