{% load static %}

{% include 'partials/navbar_logged.html' %}
<link rel="stylesheet" href="{% static 'assets/CSS/movieList.css' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'Imagens/favicon.ico' %}">

<title>AulaPlay - Player</title>

<section class="popular-section">
    <div class="container">
        <h2 class="section-title">{{ category }}</h2>

        {% if movies %}
            <div class="movie-list-grid">
                {% for movie in movies %}
                    <a href="{% url 'show_det' movie_id=movie.uuid %}" class="movie-card">
                        <div class="movie-thumb">
                            <img src="{{ movie.flyer.url }}" alt="{{ movie.title }}" class="movie-img">
                            <div class="movie-overlay">
                                <button class="overlay-btn">Favoritos</button>
                                <button class="overlay-btn">Assistir depois</button>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-muted">Nenhum filme encontrado nesta categoria.</p>
        {% endif %}
    </div>
</section>

{% include 'partials/footer.html' %}
