{% extends 'base_Wnavbar.html' %}
{% load static %}

{% block title %}
    sitePAP - Login de Perfil
{% endblock title %}

{% block content %}

<section class="bg-primary_black" style="min-height: 100vh; display: flex; align-items: center; justify-content: center;">
        {% if messages %}
            {% for message in messages %}
                <div id="swal-messages" data-type="{{ message.tags }}" data-message="{{ message }}"></div>
            {% endfor %}
        {% endif %}
    <div class="profile-login-container">
        <div class="profile-login-title">Bem-vindo(a)</div>
        <p class="profile-login-subtitle">
            Entrar como <span class="text-primary_red">{{ profile.name }}</span>
        </p>

        <form method="POST" class="profile-login-form">
            {% csrf_token %}
            <label for="password" class="profile-login-label">Senha do Perfil</label>
            <div style="position: relative;">
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required class="profile-login-input">
                <span id="togglePassword" style="position:absolute;top:50%;right:1rem;transform:translateY(-50%);cursor:pointer;user-select:none;">
                    👁️
                </span>
            </div>
            <button type="submit" class="profile-login-btn">Entrar</button>
        </form>
        <a href="{% url 'home' %}" class="profile-login-back">← Voltar para a tela inicial</a>
    </div>
</section>


<link rel="stylesheet" href="{% static 'assets/CSS/profileLogin.css' %}">
<script src="{% static 'assets/JS/profileCreate.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'assets/JS/sweetAlert.js' %}"></script>

{% endblock content %}
