{% extends 'base.html' %}
{% load static %}
{% block title %}
    Netflix - Categorias
{% endblock title %}

{% block content %}

    <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
        <div class="p-8 w-10/12 relative" >
            <div class="flex items-center min-w-full  movie_lis">
                {% for movie in movies %}
                    <a href="{% url 'show_det' movie_id=movie.uuid %}">
                        <div class=" h-32 m-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-60 elemento">
                            <img src={{movie.flyer.url}} class="w-full h-full" alt="">
                        </div>
                    </a>
                {% endfor %}                
            </div>
        </div>
    </section>

{% endblock content %}