{% extends 'admin/base_dashboard.html' %}
{% load static %}

{% block others %}
<link rel="stylesheet" href="{% static 'assets/CSS/profileEditSelection.CSS' %}">
{% endblock others %}

{% block title %}
    sitePAP - Perfis
{% endblock title %}

{% block dashboard_content %}

{% if messages %}
  {% for message in messages %}
    <div id="swal-messages" data-type="{{ message.tags }}" data-message="{{ message }}"></div>
  {% endfor %}
{% endif %}

<section class="min-h-screen flex flex-col justify-center items-center bg-white">
  <h2 class="font-primary font-medium text-5xl my-4 text-black">
    Selecione um perfil.
  </h2>

  <div class="profile-grid">
    {% for profile in profiles %}
      <a href="{% url 'profile_edit' profile_id=profile.uuid %}" class="no-underline">
        <div class="profile-card">
          <p>{{ profile.name }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

{% if not profiles %}
  <div class="flex justify-center items-center w-full h-full">
    <p class="text-gray-500">Nenhum perfil disponível.</p>
  </div>
{% endif %}
{% endblock dashboard_content %}
