
<link rel="stylesheet" href="\static\assets\CSS\footer.css">

<footer class="footer">
  <div class="container">

    <!-- LOGO à esquerda -->
    <div class="footer-section footer-logo">
      <a href="{% url 'home' %}">
        <img src="\static\Imagens\LOGOAEFHP.png" alt="AulaPlay">
      </a>
    </div>

    <!-- Avisos Legais -->
    <div class="footer-section">
      <a href="{% url 'eula' %}" class="footer-link">Avisos Legais</a>
    </div>

    <!-- Iniciar Sessão -->
    <div class="footer-section">
      <a href="{% url 'account_login' %}" class="footer-link">Iniciar Sessão</a>
    </div>

    <!-- Redes Sociais -->
    <div class="footer-section">
      <p class="footer-title">Redes</p>
      <div class="footer-social">
        <a href="https://www.facebook.com/p/AE-Frei-Heitor-Pinto-100062937536508/?locale=pt_PT" target="_blank" rel="noopener">
          <ion-icon name="logo-facebook" size="large"></ion-icon>
        </a>
        <a href="https://www.instagram.com/aefhp/?hl=pt" target="_blank" rel="noopener">
          <ion-icon name="logo-instagram" size="large"></ion-icon>
        </a>
        <a href="http://aefhp.pt" target="_blank" rel="noopener">
          <ion-icon name="home-outline" size="large"></ion-icon>
        </a>
      </div>
    </div>

  </div>

</footer>

<!-- Ionicons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
