{% load static %}

<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

<nav class="flex text-gray-100 justify-between items-right pl py-3 px-5 pb fixed w-full z-10">
    
    <div class="w-6/12">
        <a href="#" onclick="window.history.back(); return false;">
        <img src="{% static 'netflix.png' %}" alt="logo" class="w-6/12 md:w-2/12 netflixD">
        </a>
    </div>
    <script>

            document.addEventListener('DOMContentLoaded', function() {
                const toggleButton = document.getElementById('toggle-button');
                const dropdownMenu = document.getElementById('dropdown-menu');
            
                toggleButton.addEventListener('click', function() {
                    dropdownMenu.classList.toggle('show');
                });
            });

    </script>
    {% if AUTH != 'false'  %}

        {% if request.user.is_authenticated %}

            <div class="dropdown z-1 absolute">
                <button class="dropdown-toggle" id="toggle-button">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </button>
                <div class="dropdown-menu" id="dropdown-menu">
                    <a href="{% url 'watch_category' 'Action' %}" >Ação</a>
                    <a href="{% url 'watch_category' 'Adventure'%}" >Aventura</a>
                    <a href="{% url 'watch_category' 'Animation' %}" >Animação</a>
                </div>
            </div>

            <div>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button class='bg-primary_red marginL py-1 px-3 text-white md:text-lg rounded-md'>
                    Deslogar
                </button>
            </form>
            </div>

            {% else %}
            <div>
            <a href="{% url 'account_signup' %}">

                <button class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                    Registar
                </button>
            </a>
            </div>
            {% endif %}
        {% endif %}
    </nav>