{% load static %}
<link rel="stylesheet" href="{% static 'assets/CSS/navbar.css' %}">
<link rel="stylesheet" href="{% static 'assets/CSS/style.css' %}">

<nav>
    <!-- Esquerda: Logo -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'Imagens/logo.png' %}" alt="sitePAP">
        </a>
    </div>

    <!-- Direita: Ações do usuário -->
    <div class="user-actions">
        {% if user.is_authenticated and current_profile %}
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        {% else %}
            <a href="{% url 'profile_list' %}">
                <i class="fas fa-sign-out-alt"></i> Perfis
            </a>
        {% endif %}
    </div>
</nav>
